<h1 mat-dialog-title>Forget Password</h1>
<form [formGroup]="emailForm">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">please enter a valid email</div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-button class="btn btn-danger" (click)=" cancel() ">Cancel</button>
        <button class="btn btn-primary" cdkFocusInitial (click)="Submit()">Submit</button>
        <img *ngIf="loading" [src]="loadingImage" />
    </div>
</form>